
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	font-family: 'Montserrat', sans-serif;
}

body{
	background:  #060d13
    ;
}
 
.wrapper{
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.registration_form{
	background:  #0c1a27;
	padding: 25px;
	border-radius: 5px;
	width: 400px;
}

.registration_form .title{
	text-align: center;
	font-size: 20px;
	text-transform: uppercase;
	color:  #884dff;
    
	letter-spacing: 5px;
	font-weight: 700;
}

.form_wrap{
	margin-top: 35px;
}

.form_wrap .input_wrap{
	margin-bottom: 15px;
}

.form_wrap .input_wrap:last-child{
	margin-bottom: 0;
}

.form_wrap .input_wrap label{
	display: block;
	margin-bottom: 3px;
	color: #884dff;
    
}

.form_wrap .input_grp{
	display: flex;
	justify-content: space-between;
}

.form_wrap .input_grp  input[type="text"]{
	width: 165px;
}

.form_wrap  input[type="text"]{
	width: 100%;
	border-radius: 3px;
	border: 0.5px solid  #060d13;
    background: #12273b;
	padding: 10px;
	outline: none;
    
}

.form_wrap  input[type="text"]:focus{
	border-color: #884dff;
}

.form_wrap input[type="tel"]{
    width: 100%;
    border-radius: 3px;
    border: 0.5px solid  #060d13;
    background: #12273b;
    padding: 10px;
    outline:none;
}

.form_wrap  input[type="tel"]:focus{
	border-color: #884dff;
}


.form_wrap .submit_btn{
	width: 100%;
	background:  #884dff;
	padding: 10px;
	border: 0;
	border-radius: 3px;
	text-transform: uppercase;
	letter-spacing: 3px;
	cursor: pointer;
    font-weight: 550;
}

.form_wrap .submit_btn:hover{
	background: #ffd5d2;
}





